<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean 
        id="geesunOrgOrganDao" 
        class="com.landray.kmss.geesun.org.dao.hibernate.GeesunOrgOrganDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.org.model.GeesunOrgOrgan</value>
        </property>
    </bean>
    <bean 
        id="geesunOrgOrganTarget" 
        class="com.landray.kmss.geesun.org.service.spring.GeesunOrgOrganServiceImp" 
        parent="KmssBaseTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunOrgOrganDao"/>
        </property>
    </bean>
    <bean 
        id="geesunOrgOrganService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunOrgOrganTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunOrgPersonDao" 
        class="com.landray.kmss.geesun.org.dao.hibernate.GeesunOrgPersonDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.org.model.GeesunOrgPerson</value>
        </property>
    </bean>
    <bean 
        id="geesunOrgPersonTarget" 
        class="com.landray.kmss.geesun.org.service.spring.GeesunOrgPersonServiceImp" 
        parent="KmssBaseTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunOrgPersonDao"/>
        </property>
    </bean>
    <bean 
        id="geesunOrgPersonService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunOrgPersonTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunOrgPostDao" 
        class="com.landray.kmss.geesun.org.dao.hibernate.GeesunOrgPostDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.org.model.GeesunOrgPost</value>
        </property>
    </bean>
    <bean 
        id="geesunOrgPostTarget" 
        class="com.landray.kmss.geesun.org.service.spring.GeesunOrgPostServiceImp" 
        parent="KmssBaseTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunOrgPostDao"/>
        </property>
    </bean>
    <bean 
        id="geesunOrgPostService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunOrgPostTarget"/>
        </property>
    </bean>
	
	<bean 
        id="geesunOrgRecordDao" 
        class="com.landray.kmss.geesun.org.dao.hibernate.GeesunOrgRecordDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.org.model.GeesunOrgRecord</value>
        </property>
    </bean>
    <bean 
        id="geesunOrgRecordTarget" 
        class="com.landray.kmss.geesun.org.service.spring.GeesunOrgRecordServiceImp" 
        parent="KmssBaseTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunOrgRecordDao"/>
        </property>
    </bean>
    <bean 
        id="geesunOrgRecordService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunOrgRecordTarget"/>
        </property>
    </bean>
	
	<bean
		id="geesunOrgEkpDao"
		parent="KmssAuthBaseDao"
		class="com.landray.kmss.geesun.org.dao.hibernate.GeesunOrgEkpDaoImp">
		<property
			name="modelName"
			value="com.landray.kmss.geesun.org.model.GeesunOrgEkp" />
	</bean>

	<bean
		id="geesunOrgEkpTarget"
		parent="KmssBaseTarget"
		class="com.landray.kmss.geesun.org.service.spring.GeesunOrgEkpServiceImp">
		<property
			name="baseDao">
			<ref
				local="geesunOrgEkpDao" />
		</property>
	</bean>
	<bean
		id="geesunOrgEkpService"
		parent="KmssBaseService">
		<property
			name="target">
			<ref
				local="geesunOrgEkpTarget" />
		</property>
	</bean>
	
	<bean
		id="geesunSynOrganizationQuarzeService"
		class="com.landray.kmss.geesun.org.service.spring.GeesunSynOrganizationQuarze">
	</bean>
	
	<bean
		id="sysSynchroOrganService"
		class="com.landray.kmss.geesun.org.service.spring.SysSynchroOrganServiceImp">
	</bean>
	
</beans>
