@import './../lib/vars.scss';
@import './../lib/mixins.scss';

/* 多标签-父标题 */
.lui_tabpanel_title .lui_tabpanel_title_main {
    color: $primary-color;
}

.lui_tabpanel_title .lui_tabpanel_title_icon {
    color: $primary-color;
    font-size: 18px;
}

.lui_panel_light_frame .lui_panel_title_subtitle {
    color: $primary-color;
}

// 公共样式
%panelFrame {
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #E2D1CE;
    // -webkit-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
    // -moz-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
    // -ms-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
    // -o-box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
    // box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .125);
}

/*--- 分组多标签 Starts ---*/
.lui_tabpanel_multiCollapse_selected .lui_tabpanel_multiCollapse_groupTitle {
    color: $primary-color;
    background-color: $primary-color-opacity-20;
}

/*--- 分组多标签 Ends ---*/

/*--- 吸顶多标签 Ends ---*/
.lui_tabpanel_sucktop_collapse_more_item:hover>.lui_tabpanel_collapse_navs_item_r>.lui_tabpanel_collapse_navs_item_c {
    color: $primary-color;
    border-top-color: $primary-color;

}

.lui_tabpanel_collapse_navs_list .lui_tabpanel_sucktop_navs_item_l:hover .lui_tabpanel_collapse_navs_item_c {
    color: $primary-color;
}

.lui_tabpanel_sucktop_navs_list>li.lui_tabpanel_sucktop_navs_item_l.lui_tabpanel_sucktop_navs_item_selected .lui_tabpanel_sucktop_navs_item_c {
    color: $primary-color;
}

.lui_tabpanel_sucktop_collapse_more_item:hover>.lui_tabpanel_sucktop_navs_item_r>.lui_tabpanel_sucktop_navs_item_c {
    color: $primary-color;
    border-top-color: $primary-color;
}

.lui_tabpanel_sucktop_navs_list .lui_tabpanel_sucktop_navs_item_l:hover .lui_tabpanel_sucktop_navs_item_c {
    color: $primary-color;
}

/*--- 吸顶多标签 Ends ---*/

/*--- 浅色垂直多标签 Ends ---*/
.lui_tabpanel_vertical_light_navs_item_selected,
.lui_tabpanel_vertical_light_navs_item_l:hover {
    border-left-color: $primary-color;
    color: $primary-color;
}

.lui_tabpanel_vertical_light_navs_item_selected .lui_tabpanel_vertical_light_navs_item_r .lui_tabpanel_navs_item_title {
    color: $primary-color;
}

.lui_tabpanel_vertical_light_navs_item_l:hover .lui_tabpanel_vertical_light_navs_item_c:before,
.lui_tabpanel_vertical_light_navs_item_selected .lui_tabpanel_vertical_light_navs_item_c:before {
    background: $primary-color;
}

/*--- 浅色垂直多标签 Ends ---*/

/*--- 折叠多标签 Ends ---*/
// 为了避免影响三级页面多标签
.tTemplate,
.lui_portal_body {
    .lui_tabpanel_collapse_frame {
        @extend %panelFrame;
    }

    .lui_tabpanel_collapse_navs_item_c:hover {
        color: $primary-color;
    }

    .lui_tabpanel_collapse_navs_item_selected.lui_tabpanel_collapse_collapse_more_item .lui_tabpanel_collapse_navs_item_c {
        background-color: $primary-color;
    }

    .lui_tabpanel_collapse_navs_item_selected.lui_tabpanel_collapse_collapse_more_item .lui_tabpanel_collapse_navs_list .lui_tabpanel_collapse_navs_item_c {
        background-color: #fff;
    }

    .lui_tabpanel_collapse_collapse_more_item:hover>.lui_tabpanel_collapse_navs_item_r>.lui_tabpanel_collapse_navs_item_c {
        color: $primary-color;
        border-top-color: $primary-color;
        background-color: #fff;
    }

    .lui_tabpanel_collapse_navs_list .lui_tabpanel_collapse_navs_item_l:hover .lui_tabpanel_collapse_navs_item_c {
        color: $primary-color;
        background-color: #f8f8f8;
    }

    .lui_tabpanel_collapse_navs_list>li.lui_tabpanel_collapse_navs_item_l.lui_tabpanel_collapse_navs_item_selected .lui_tabpanel_collapse_navs_item_c {
        color: $primary-color;
    }

    .lui_tabpanel_collapse_navs_item_selected .lui_tabpanel_collapse_navs_item_c {
        color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: $primary-color;
    }

    .lui_tabpanel_collapse_collapse_more_item:hover>.lui_tabpanel_collapse_navs_item_r>.lui_tabpanel_collapse_navs_item_c {
        color: $primary-color;
        border-top-color: $primary-color;
    }

    .lui_tabpanel_collapse_navs_list .lui_tabpanel_collapse_navs_item_l:hover .lui_tabpanel_collapse_navs_item_c {
        color: $primary-color;
    }


}

/*--- 折叠多标签 Ends ---*/

// 吸顶多标签
.lui_tabpanel_sucktop_frame {
    @extend %panelFrame;
}

.lui_tabpanel_vertical_light_content_c .lui_portlet_operations{
    position: static;
}

.lui_tabpanel_leftborder_navs_item_l:hover .lui_tabpanel_leftborder_navs_item_c,
.lui_tabpanel_leftborder_navs_item_l.lui_tabpanel_leftborder_navs_item_selected 
.lui_tabpanel_leftborder_navs_item_c
{
	color: $primary-color;
}
