<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean
		id="sysCirculationOpinionShowByHandler"
		class="com.landray.kmss.sys.xform.base.service.controls.circulationOpinion.SysCirculationOpinionShowByHandler" scope="prototype"/>
	<bean
		id="sysCirculationOpinionShowByDeptHandler"
		class="com.landray.kmss.sys.xform.base.service.controls.circulationOpinion.SysCirculationOpinionShowByDeptHandler" scope="prototype"/>
	<bean
		id="sysCirculationOpinionShowByTable"
		class="com.landray.kmss.sys.xform.base.service.controls.circulationOpinion.SysCirculationOpinionShowByTable" scope="prototype"/>
</beans>