@charset "utf-8";
/*@格子视图*/
.assetcard_gridtable_table {width: 100%; background-color:#fff}
.assetcard_gridtable_table tr td {padding-top: 10px;padding-bottom: 10px;border-bottom: 1px dotted #8F8F8F;}
.assetcard_gridtable_table tbody tr:last-child{border-bottom:2px solid #bad4e5}
.assetcard_gridtable_content {width: 98%;margin: 2px;padding: 10px 0;}
.assetcard_gridtable_content:hover {margin: 0;border: 2px solid #83c2eb;}
.assetcard_gridtable_content .assetcard_gridtable_content_container{margin: 0 auto;width: 176px;}
.assetcard_gridtable_content .assetcard_gridtable_content_image {border: 1px solid #e9e9e9;display: block;height: 147px;width: 176px;}
.assetcard_gridtable_content .assetcard_gridtable_content_image img{width: 176px;height: 147px;}
.assetcard_gridtable_content h1 {padding: 6px 0 0 20px;text-align: center;position: relative;font-size: 100%;font-weight: normal;margin: 0 auto;}
.assetcard_gridtable_content h1 input {position: absolute;top: 8px;left: 4px;}
.assetcard_gridtable_content .assetcard_gridtable_content_docSubject{text-align: left;display: block;word-wrap : break-word;min-height: 34px;}
.assetcard_gridtable_content .txtBox .txtBox_label {text-align: right;float: left;}
.assetcard_gridtable_content .txtBox .txtBox_text {width: 104px;text-align: left;float: left;}
.assetcard_gridtable_content .txtBox .txtBox_text span {color: #4d4d4d;}
.assetcard_gridtable_content .txtBox {padding-top: 5px;color: #969696;}
.assetcard_gridtable_content .txtBox .txtBox_info_readCount {width: 60px;padding-left: 24px;float: left;}
.assetcard_gridtable_content .txtBox .txtBox_info_score {width: 60px;padding-left: 24px;float: left;}
.assetcard_gridtable_content .txtBox .txtBox_info_txt {color: #969696;font-size: 12px;cursor: default;}
.assetcard_gridtable_content .txtBox .txtBox_info_txt:hover {/*text-decoration: underline;*/}
.assetcard_gridtable_content .txtBox .txtBox_info_num {margin: 0 2px;color: #ec8b22;font-size: 12px;cursor: default;}

.assetcard_gridtable_content .txtBox .txtBox_info_readCount:hover .txtBox_info_txt{ text-decoration:underline;}
.assetcard_gridtable_content .txtBox .txtBox_info_score:hover .txtBox_info_txt{ text-decoration:underline;}