<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        id="fsscBaseCompanyGroupDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseCompanyGroupDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseCompanyGroup</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseCompanyGroupTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCompanyGroupServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseCompanyGroupDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCompanyGroupService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseCompanyGroupTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCompanyDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseCompanyDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseCompany</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseCompanyTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCompanyServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseCompanyDao"/>
        </property>
        <property 
            name="sysOrgCoreService">
            <ref 
                bean="sysOrgCoreService"/>
        </property>
        <property 
            name="sysOrgElementService">
            <ref 
                bean="sysOrgElementService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCompanyService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseCompanyTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCostTypeDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseCostTypeDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseCostType</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseCostTypeTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCostTypeServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseCostTypeDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCostTypeService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseCostTypeTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCostCenterDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseCostCenterDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseCostCenter</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseCostCenterTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCostCenterServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseCostCenterDao"/>
        </property>
        <property name="fsscBaseCompanyService">
            <ref local="fsscBaseCompanyService"/>
        </property>
        <property name="fsscBaseCostTypeService">
            <ref local="fsscBaseCostTypeService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCostCenterService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseCostCenterTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseErpPersonDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseErpPersonDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseErpPerson</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseErpPersonTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseErpPersonServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseErpPersonDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseErpPersonService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseErpPersonTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseBudgetSchemeDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseBudgetSchemeDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseBudgetScheme</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseBudgetSchemeTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseBudgetSchemeServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseBudgetSchemeDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseBudgetSchemeService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseBudgetSchemeTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseBudgetItemComDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseBudgetItemComDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseBudgetItemCom</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseBudgetItemComTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseBudgetItemComServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseBudgetItemComDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseBudgetItemComService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseBudgetItemComTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseAccountsComDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseAccountsComDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseAccountsCom</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseAccountsComTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseAccountsComServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseAccountsComDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseAccountsComService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseAccountsComTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseProjectDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseProjectDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseProject</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseProjectTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseProjectServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseProjectDao"/>
        </property>
        <property name="fsscBaseCompanyService">
            <ref local="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseProjectService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseProjectTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseInnerOrderDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseInnerOrderDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseInnerOrder</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseInnerOrderTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseInnerOrderServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseInnerOrderDao"/>
        </property>
        <property name="fsscBaseCompanyService">
            <ref local="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseInnerOrderService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseInnerOrderTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseWbsDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseWbsDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseWbs</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseWbsTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseWbsServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseWbsDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseWbsService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseWbsTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseSupplierDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseSupplierDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseSupplier</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseSupplierTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseSupplierServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseSupplierDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseSupplierService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseSupplierTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseSupplierAccountDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseSupplierAccountDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseSupplierAccount</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseSupplierAccountTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseSupplierAccountServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseSupplierAccountDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseSupplierAccountService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseSupplierAccountTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCashFlowDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseCashFlowDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseCashFlow</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseCashFlowTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCashFlowServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseCashFlowDao"/>
        </property>
        <property name="fsscBaseCompanyService">
            <ref local="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCashFlowService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseCashFlowTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseVoucherTypeDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseVoucherTypeDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseVoucherType</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseVoucherTypeTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseVoucherTypeServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseVoucherTypeDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseVoucherTypeService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseVoucherTypeTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBasePayWayDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBasePayWayDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBasePayWay</value>
        </property>
    </bean>
    <bean 
        id="fsscBasePayWayTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBasePayWayServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBasePayWayDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBasePayWayService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBasePayWayTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBasePayBankDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBasePayBankDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBasePayBank</value>
        </property>
    </bean>
    <bean 
        id="fsscBasePayBankTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBasePayBankServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBasePayBankDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBasePayBankService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBasePayBankTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseTaxRateDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseTaxRateDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseTaxRate</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseTaxRateTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseTaxRateServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseTaxRateDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseTaxRateService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseTaxRateTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCurrencyDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseCurrencyDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseCurrency</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseCurrencyTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCurrencyServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseCurrencyDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCurrencyService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseCurrencyTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseExchangeRateDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseExchangeRateDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseExchangeRate</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseExchangeRateTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseExchangeRateServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseExchangeRateDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseExchangeRateService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseExchangeRateTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseExpenseItemDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseExpenseItemDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseExpenseItem</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseExpenseItemTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseExpenseItemServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseExpenseItemDao"/>
        </property>
        <property name="fsscBaseCompanyService">
            <ref local="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseExpenseItemService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseExpenseItemTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseStandardSchemeDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseStandardSchemeDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseStandardScheme</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseStandardSchemeTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseStandardSchemeServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseStandardSchemeDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseStandardSchemeService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseStandardSchemeTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseStandardDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseStandardDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseStandard</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseStandardTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseStandardServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseStandardDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseStandardService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseStandardTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseAreaDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseAreaDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseArea</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseAreaTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseAreaServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseAreaDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseAreaService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseAreaTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseLevelDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseLevelDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseLevel</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseLevelTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseLevelServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseLevelDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseLevelService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseLevelTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseVehicleDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseVehicleDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseVehicle</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseVehicleTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseVehicleServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseVehicleDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseVehicleService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseVehicleTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseBerthDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseBerthDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseBerth</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseBerthTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseBerthServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseBerthDao"/>
        </property>
        <property name="fsscBaseCompanyService">
            <ref local="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseBerthService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseBerthTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseSpecialItemDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseSpecialItemDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseSpecialItem</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseSpecialItemTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseSpecialItemServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseSpecialItemDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseSpecialItemService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseSpecialItemTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseAccountDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseAccountDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseAccount</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseAccountTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseAccountServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseAccountDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseAccountService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseAccountTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseBudgetItemDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseBudgetItemDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseBudgetItem</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseBudgetItemTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseBudgetItemServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseBudgetItemDao"/>
        </property>
        <property name="fsscBaseBudgetItemComService">
            <ref bean="fsscBaseBudgetItemComService"/>
        </property>
        <property name="fsscBaseCompanyService">
            <ref bean="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseBudgetItemService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseBudgetItemTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseAccountsDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseAccountsDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseAccounts</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseAccountsTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseAccountsServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseAccountsDao"/>
        </property>
        <property name="fsscBaseAccountsComService">
            <ref bean="fsscBaseAccountsComService"/>
        </property>
        <property name="fsscBaseCompanyService">
            <ref bean="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseAccountsService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseAccountsTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseItemFieldDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseItemFieldDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseItemField</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseItemFieldTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseItemFieldServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseItemFieldDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseItemFieldService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseItemFieldTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseItemBudgetDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseItemBudgetDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseItemBudget</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseItemBudgetTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseItemBudgetServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseItemBudgetDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseItemBudgetService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseItemBudgetTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseSwitchDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseSwitchDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseSwitch</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseSwitchTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseSwitchServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseSwitchDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseSwitchService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseSwitchTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCompanyTreeService" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCompanyTreeService" >
        <property name="fsscBaseCompanyService">
            <ref local="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCompanyGroupTreeService" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCompanyGroupTreeService" >
        <property name="fsscBaseCompanyGroupService">
            <ref local="fsscBaseCompanyGroupService"/>
        </property>
        <property name="fsscBaseCompanyService">
            <ref local="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCheckCodeUniqueService" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCheckCodeUniqueService" >
        <property name="fsscBaseCompanyService">
            <ref local="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseTreeService" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseTreeService" >
        <property name="fsscBaseAccountsComService">
            <ref local="fsscBaseAccountsComService"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseBusinessTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseBusinessServiceImp" 
        parent="KmssExtendDataTarget">
    </bean>
    <bean 
        id="fsscBaseBusinessService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseBusinessTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseImportRequiredValidator" 
        class="com.landray.kmss.fssc.base.imp.validator.FsscBaseImportRequiredValidator">
    </bean>
    <bean 
        id="fsscBaseImportExistsValidator" 
        class="com.landray.kmss.fssc.base.imp.validator.FsscBaseImportExistsValidator">
    </bean>
    <bean 
        id="fsscBaseImportUniqueValidator" 
        class="com.landray.kmss.fssc.base.imp.validator.FsscBaseImportUniqueValidator">
    </bean>
    <bean 
        id="fsscBaseImportRadioValidator" 
        class="com.landray.kmss.fssc.base.imp.validator.FsscBaseImportRadioValidator">
    </bean>
    <bean 
        id="fsscBaseImportCompanyContainedValidator" 
        class="com.landray.kmss.fssc.base.imp.validator.FsscBaseImportCompanyContainedValidator">
        <property name="fsscBaseCompanyService">
        	<ref local="fsscBaseCompanyService"/>
        </property>
    </bean>
    <bean 
        id="fsscBasePaymentDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBasePaymentDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBasePayment</value>
        </property>
    </bean>
    <bean 
        id="fsscBasePaymentTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBasePaymentServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBasePaymentDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBasePaymentService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBasePaymentTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBasePaymentDetailDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBasePaymentDetailDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBasePaymentDetail</value>
        </property>
    </bean>
    <bean 
        id="fsscBasePaymentDetailTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBasePaymentDetailServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBasePaymentDetailDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBasePaymentDetailService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBasePaymentDetailTarget"/>
        </property>
    </bean>
    <bean
        id="fsscBasePassportDao"
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBasePassportDaoImp"
        parent="KmssAuthBaseDao">
        <property
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBasePassport</value>
        </property>
    </bean>
    <bean
        id="fsscBasePassportTarget"
        class="com.landray.kmss.fssc.base.service.spring.FsscBasePassportServiceImp"
        parent="KmssExtendDataTarget">
        <property
            name="baseDao">
            <ref
                bean="fsscBasePassportDao"/>
        </property>
    </bean>
    <bean
        id="fsscBasePassportService"
        parent="KmssBaseService">
        <property
            name="target">
            <ref
                bean="fsscBasePassportTarget"/>
        </property>
    </bean>
    <bean
        id="fsscBaseItemAccountDao"
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseItemAccountDaoImp"
        parent="KmssAuthBaseDao">
        <property
                name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseItemAccount</value>
        </property>
    </bean>
    <bean
        id="fsscBaseItemAccountTarget"
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseItemAccountServiceImp"
        parent="KmssExtendDataTarget">
        <property
                name="baseDao">
            <ref
                    bean="fsscBaseItemAccountDao"/>
        </property>
    </bean>
    <bean
        id="fsscBaseItemAccountService"
        parent="KmssBaseService">
        <property
                name="target">
            <ref
                    bean="fsscBaseItemAccountTarget"/>
        </property>
    </bean>
    <bean
        id="fsscBaseInputTaxDao"
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseInputTaxDaoImp"
        parent="KmssAuthBaseDao">
        <property
                name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseInputTax</value>
        </property>
    </bean>
    <bean
        id="fsscBaseInputTaxTarget"
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseInputTaxServiceImp"
        parent="KmssExtendDataTarget">
        <property
                name="baseDao">
            <ref
                    bean="fsscBaseInputTaxDao"/>
        </property>
    </bean>
    <bean
        id="fsscBaseInputTaxService"
        parent="KmssBaseService">
        <property
                name="target">
            <ref
                    bean="fsscBaseInputTaxTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseMaterialTypeDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseMaterialTypeDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseMaterialType</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseMaterialTypeTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseMaterialTypeServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseMaterialTypeDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseMaterialTypeService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseMaterialTypeTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseMaterialInfoDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseMaterialInfoDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseMaterialInfo</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseMaterialInfoTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseMaterialInfoServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseMaterialInfoDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseMaterialInfoService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseMaterialInfoTarget"/>
        </property>
    </bean>
    <bean
        id="fsscBaseAccountsAuthValidator"
        class="com.landray.kmss.fssc.base.authValidator.FsscBaseAccountsAuthValidator">
    </bean>
     <bean
        id="fsscBaseFinanceAuthValidator"
        class="com.landray.kmss.fssc.base.authValidator.FsscBaseFinanceAuthValidator">
    </bean>
    <bean
        id="fsscBaseRefreshPaymentAuthValidator"
        class="com.landray.kmss.fssc.base.authValidator.FsscBaseRefreshPaymentAuthValidator">
    </bean>
    <bean
        id="fsscBaseStaffAndManagerAuthValidator"
        class="com.landray.kmss.fssc.base.authValidator.FsscBaseStaffAndManagerAuthValidator">
    </bean>
    <bean
        id="fsscBaseCompanyAuthValidator"
        class="com.landray.kmss.fssc.base.authValidator.FsscBaseCompanyAuthValidator">
    </bean>
    <bean 
        id="fsscBaseCriteriaService" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCriteriaService">
        <property 
            name="fsscBaseCompanyGroupService">
            <ref 
                bean="fsscBaseCompanyGroupService"/>
        </property>
        <property 
            name="fsscBaseCompanyService">
            <ref 
                bean="fsscBaseCompanyService"/>
        </property>
        <property 
            name="fsscBaseCostCenterService">
            <ref 
                bean="fsscBaseCostCenterService"/>
        </property>
        <property 
            name="fsscBaseProjectService">
            <ref 
                bean="fsscBaseProjectService"/>
        </property>
        <property 
            name="fsscBaseWbsService">
            <ref 
                bean="fsscBaseWbsService"/>
        </property>
        <property 
            name="fsscBaseInnerOrderService">
            <ref 
                bean="fsscBaseInnerOrderService"/>
        </property>
        <property 
            name="fsscBaseBudgetItemComService">
            <ref 
                bean="fsscBaseBudgetItemComService"/>
        </property>
        <property 
            name="fsscBaseBudgetItemService">
            <ref 
                bean="fsscBaseBudgetItemService"/>
        </property>
    </bean>
    <bean
        id="fsscBaseSupplierWebserviceService" 
        class="com.landray.kmss.fssc.base.webservice.spring.FsscBaseSupplierWebserviceServiceImp">
        <property name="fsscBaseSupplierService">
			<ref bean="fsscBaseSupplierService" />
		</property>
		<property name="fsscBaseCompanyService">
			<ref bean="fsscBaseCompanyService" />
		</property>
    </bean>
    <bean
        id="fsscBasePortletService" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBasePortletService">
    </bean>
    <bean 
        id="fsscBaseAuthorizeDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseAuthorizeDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseAuthorize</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseAuthorizeTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseAuthorizeServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseAuthorizeDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseAuthorizeService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseAuthorizeTarget"/>
        </property>
    </bean>
    <bean 
        id="FsscBaseDataService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseAuthorizeTarget"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseDataService" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseDataService">
    </bean>
    <bean 
        id="fsscBaseCacheConfigDao" 
        class="com.landray.kmss.fssc.base.dao.hibernate.FsscBaseCacheConfigDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.fssc.base.model.FsscBaseCacheConfig</value>
        </property>
    </bean>
    <bean 
        id="fsscBaseCacheConfigTarget" 
        class="com.landray.kmss.fssc.base.service.spring.FsscBaseCacheConfigServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="fsscBaseCacheConfigDao"/>
        </property>
    </bean>
    <bean 
        id="fsscBaseCacheConfigService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="fsscBaseCacheConfigTarget"/>
        </property>
    </bean>
</beans>
