<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../plugin.xsd ">
	
	<extension point="com.landray.kmss.sys.mobile.compress" model="*">
		<item 
			name="css-file">
			<param 
				name="name" 
				value="mui-intr.css" />
			<param 
				name="targetFile" 
				value="/sys/mobile/css/themes/default/intr.css" />
		</item>
		<item name="js-pkg">
			<param name="name" value="mui-intr.js" />
			<param name="targetFile" value="/sys/introduce/mobile/js/mui-intr.js" />
			<param name="srcFold" value="/sys/introduce/mobile/js" />
		</item>
	</extension>
	
</plugin>