<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean
		name="/km/pindagate/km_pindagate_bridge/kmPindagateBridge.do"
		class="com.landray.kmss.km.pindagate.bridge.actions.KmPindagateBridgeAction"
		lazy-init="true"
		parent="KmssBaseAction">
		<property name="forwards">
			<map>
				<entry
					key="list"
					value="/km/pindagate/km_pindagate_bridge/kmPindagateBridge_data.jsp" />
			</map>
		</property>
	</bean>
</beans>