<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.geesun.leave.actions.GeesunLeaveMainAction" 
        parent="KmssBaseAction" 
        name="/geesun/leave/geesun_leave_main/geesunLeaveMain.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.leave.forms.GeesunLeaveMainForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/leave/geesun_leave_main/geesunLeaveMain_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/leave/geesun_leave_main/geesunLeaveMain_edit.jsp"/>
                <entry 
                    key="result" 
                    value="/geesun/leave/geesun_leave_main/geesunLeaveMain_importResult.jsp"/>
                <entry 
                    key="data.4m" 
                    value="/geesun/leave/geesun_leave_main/mobile/data.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/leave/geesun_leave_main/geesunLeaveMain_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.geesun.leave.actions.GeesunLeaveAdjustAction" 
        parent="KmssBaseAction" 
        name="/geesun/leave/geesun_leave_adjust/geesunLeaveAdjust.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.leave.forms.GeesunLeaveAdjustForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/leave/geesun_leave_adjust/geesunLeaveAdjust_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/leave/geesun_leave_adjust/geesunLeaveAdjust_edit.jsp"/>
                <entry 
                    key="data.4m" 
                    value="/geesun/leave/geesun_leave_adjust/mobile/data.jsp"/>
                <entry 
                    key="edit.4m" 
                    value="/geesun/leave/geesun_leave_adjust/mobile/edit.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/leave/geesun_leave_adjust/mobile/view.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/leave/geesun_leave_adjust/geesunLeaveAdjust_view.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/leave/geesun_leave_adjust/mobile/view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.geesun.leave.actions.GeesunLeaveBarterAction" 
        parent="KmssBaseAction" 
        name="/geesun/leave/geesun_leave_barter/geesunLeaveBarter.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.leave.forms.GeesunLeaveBarterForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/leave/geesun_leave_barter/geesunLeaveBarter_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/leave/geesun_leave_barter/geesunLeaveBarter_edit.jsp"/>
                <entry 
                    key="data.4m" 
                    value="/geesun/leave/geesun_leave_barter/mobile/data.jsp"/>
                <entry 
                    key="edit.4m" 
                    value="/geesun/leave/geesun_leave_barter/mobile/edit.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/leave/geesun_leave_barter/mobile/view.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/leave/geesun_leave_barter/geesunLeaveBarter_view.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/leave/geesun_leave_barter/mobile/view.jsp"/>
            </map>
        </property>
    </bean>
    
    <bean 
    	class="com.landray.kmss.geesun.leave.actions.GeesunLeaveRepairKaoqinAction" 
		name="/geesun/leave/ps_vacation_main/GeesunLeaveRepairKaoqinAction.do"> 
	</bean>
	
	<!--  Holiday leave 请假流程使用的action-->
	<bean 
    	class="com.landray.kmss.geesun.ehr.actions.GeesunHolidayLeaveAction" 
		name="/geesun/ehr/action/GeesunHolidayLeaveAction.do"> 
	</bean>
</beans>
