@charset "utf-8";
@IMPORT url("../../../../../sys/mobile/css/themes/default/header.css");
@IMPORT url("../../../../../sys/mobile/css/themes/default/listview.css");
@IMPORT url("../../../../../sys/mobile/css/themes/default/nav.css");
@IMPORT url("../../../../../sys/mobile/css/themes/default/person.css");
@IMPORT url("../../../../../sys/mobile/css/themes/default/eval.css");
/********************** 列表css **********************/
@IMPORT url("./list.css");

*{
	padding: 0;
	margin: 0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
.muiFlowInfoW{
	margin-top: 0;
}
.muiTaskInfoBanner{
	padding: 1rem;
	background-color: #fff;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.muiTaskInfoBanner .txtInfoBar {
	margin-top: 1.5rem;
}

.muiTaskInfoBanner .txtInfoBar dt {
	margin-bottom: 0.3rem;
	/*max-height: 48px;*/
	text-align: center;
	color: #333;
	font-size: 1.8rem;
	font-weight: 600;
	padding: 0 0.5rem;
	/*overflow: hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;*/
}

.muiTaskInfoBanner .txtInfoBar dd {
	width: 100%;
	text-align: center;
	color: #999;
	font-size: 1.3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.muiTaskInfoBanner .txtInfoBar dd .mui{
	/*margin-right:0.1rem;*/
	line-height: 1;
	font-size: 1.6rem;
	position: relative;
	top:-1px;
}

.muiTaskInfoBanner .progress,
.muiTaskInfoBanner .progress .pie_left,
.muiTaskInfoBanner .progress .pie_right,
.muiTaskInfoBanner .progress .left,
.muiTaskInfoBanner .progress .right{
	width: 64px;
	height: 64px;
}

.muiTaskInfoBanner .progress{
	margin: 0 auto;
	border-radius: 50%;
	background-color: #3fa9f5;
	background-image:-webkit-linear-gradient(215deg, #239ef9 0%, #7537e9 100%);
	background-image:linear-gradient(215deg, #239ef9 0%, #7537e9 100%);
	position: relative;
	right: 0;
	top: 0;
}
.muiTaskInfoBanner .progress .pie_left,
.muiTaskInfoBanner .progress .pie_right {
	position: absolute;
	top: 0;
	left: 0;
}
.muiTaskInfoBanner .progress .left,
.muiTaskInfoBanner .progress .right {
	background-color: #dde8ed;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
}
.muiTaskInfoBanner .progress .mask {
	width: 56px;
	height: 56px;
	line-height: 56px;
	text-align: center;
	color: #f9905a;
	font-size: 1.8rem;
	font-weight: 400;
	border-radius: 50%;
	background-color: #FFF;
	position: absolute;
	left: 4px;
	top: 4px;
}
.muiTaskInfoBanner .progress .mask span{
	font-weight: 400;
}
.muiTaskInfoBanner .progress .pie_left,
.muiTaskInfoBanner .progress .left {
	clip: rect(0,32px,auto,0);
}
.muiTaskInfoBanner .progress .pie_right,
.muiTaskInfoBanner .progress .right {
	clip: rect(0,auto,auto,32px);
}

.muiTaskInfoBanner .progressBar {
	width: 8.4rem;
	position: absolute;
	left: 50%;
	margin-left: -4.2rem;
}

.muiTaskInfoBanner .progressBar .progress {
	width: auto;
	height: auto;
	padding: 1rem;
	text-align: center;
	background: rgba(255, 255, 255,0.35);
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	border-radius: 50%;
	display: block;
	position: static;
}

.muiTaskInfoBanner .progressBar .progresstxt{
	width: 6.4rem;
	height: 6.4rem;
	color: #474747;
	font-size: 1.6rem;
	font-weight: bold;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 0 3px rgba(0,0,0,0.25);
	background-color: rgba(255,255,255,0.6);
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
}
.muiTaskInfoBanner .progressBar .progresstxt>span{
	margin-top: 2px;
	color: #888;
	font-size: 1.2rem;
	font-weight: normal;
}
.muiTaskInfoBanner .progressBar .progresstxt>span.percentage{
	margin-top: 0;
	margin-left: -3px;
	font-size: 1rem;
}

.muiTaskInfoBanner .leftTag .muiTaskStatusTag {
	width: 4.5rem;
	height: 4.5rem;
	line-height: 4.5rem;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	border-radius: 50%;
	opacity:0.9;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	margin-top: 1.7rem;
}

.leftTag .muiTaskStatusTag.muiTaskProgress{ background-color:#84c138; } /* 进行中 */
.leftTag .muiTaskStatusTag.muiTaskInactive{ background-color:#ecb02b; } /* 未启动 */
.leftTag .muiTaskStatusTag.muiTaskTerminate{ background-color:#4dbeba; } /* 暂停 */
.leftTag .muiTaskStatusTag.muiTaskOverrule{ background-color:#eb1d68; } /* 驳回 */
.leftTag .muiTaskStatusTag.muiTaskClose{ background-color:#c0c0c0; } /* 已结项 */
.leftTag .muiTaskStatusTag.muiTaskComplete{ background-color:#3fa9f5; } /* 完成  */

.muiTaskInfoBanner .leftTag {
	left: 2.5rem;
	position: relative;
}

.muiTaskInfoBanner .deadLinedayBar{
	width: 5rem;
	height: 4rem;
	text-align: center;
	color: #fff;
	font-size: 1.2rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: absolute;
	margin-top: 1.8rem;
}

.deadLinedayBar .deadLineday{
	font-size: 2.2rem;
}
.muiTaskInfoBanner .rightTag {
	right: 2.5rem;
}

.muiTaskInfoBanner .rightTag .mui{
	font-size:1.4rem;
}


/** 按钮样式 **/
.muiTabBarGrid.taskTabBar.mblTabBar{
	background-color: #f0eff5;
}

#childTaskView .muiTabBarGrid.taskTabBar.mblTabBar{
	min-height: 0;
}

.taskTabBar .mui{
	margin-right: .3rem;
	line-height: 2rem;
	font-size: 1.6rem;
}

.muiTabBarGrid.taskTabBar .mblTabBarButton .mblTabBarButtonIconArea{
	display: inline-block;
	width:2rem;
}

.muiTabBarGrid.taskTabBar.mblTabBar .mblTabBarButtonLabel{
	/*font-size: 1.4rem;*/
	display: inline-block;
}
.muiTabBarGrid.taskTabBar.mblTabBar .mblTabBarButton{
	border-left: 1px solid #e2e2e2;
	padding: .5rem 1rem!important;
	color: white;
}

.muiTabBarGrid.taskTabBar.mblTabBar .mblTabBarButton.muiBtnFeedback{
	margin-top: 0;
	width: 100%;
	background-color: #fff;
	border-color: #fff;
	border-bottom-color: #e2e2e2;
	color: #0d93d6;
	font-size: 1.5rem;
}

.muiTabBarGrid.taskTabBar.mblTabBarTabBar .muiButtonVertical .mblTabBarButtonLabel,
.muiTabBarGrid.taskTabBar.mblTabBarTabBar .muiButtonVertical .mblTabBarButtonIconArea,
.muiTabBarGrid.taskTabBar.mblTabBarTabBar .muiButtonVertical .mblTabBarButtonIconArea .mui{
	font-size: 1.5rem !important;
}


.muiTabBarGrid.taskTabBar.mblTabBar .mblTabBarButton.muiBtnFeedback:active{
	background-color: #f8f8f8;
}
.muiTabBarGrid.taskTabBar.mblTabBar .mblTabBarButton.muiBtnComplete{
	background-color: #72BF44;
	border-color: #72BF44;
	margin-right: 15px!important;
}

.muiTabBarGrid.taskTabBar.mblTabBar .mblTabBarButton.muiBtnMore {
	border-left: 1px solid #e2e2e2;
	border-right: none;
	padding: 4px 12px 4px 12px;
	color: #000;
	float: right;
}

.taskTabBar .mui.mui-more{
	line-height: 2.5rem;
	font-size: 2.5rem;
}

.muiNavBarGroup{
	transition-property: opacity;
  	transition-duration: 0.5s;
  	transition-timing-function: ease-out;
}

.muiNavBarGroup .mblTabBarButton.overflowBarButton{
	padding: 0;
	width: auto;
	height: 3.2rem;
	line-height: 3.2rem;
	font-size: 1.5rem;
	border-bottom: 1px solid #585858;
	text-align: center;
	color: white!important;
}

.muiNavBarGroup .mblTabBarButton.overflowBarButton:last-child{
	border-bottom: 0;
}

.taskTabBar .mblTabBarButton.muiBtn{
	color: #fff;
	border-radius:2px;
	margin-top: 4px;
}

.muiTaskLink{
	padding:1rem 0 1rem 1rem;
	border-top:1px solid #DBDBDB;background:#fff;
}

.muiTaskLinkTitle{
	display: table-cell;
	width:26%;
	padding-right: 1rem;
	vertical-align: middle;
	color:#898989;
	font-size:1.4rem;
}

.muiTaskLinkSubject{
	display: table-cell;
	width:70%;
	vertical-align: middle;
	padding-left: 0.8rem;
	color: #262626;
	font-size:1.4rem;
}

.muiTaskLinkR{
	width: 2.5rem;
	padding-left: 0.8rem;
	padding-right: 0.8rem;
	text-align:right;
	vertical-align: middle;
	display: table-cell;
}

.muiTaskLinkR .muiAttachmentItemExpand {
	text-align: center;
	color: #b1b1b1;
}

.muiTaskLinkR .muiAttachmentItemExpand.mui {
	font-size: 2rem;
}


/** 按钮样式(结束) **/

.muiAccordionPanelTitle>div:last-child {
	left: 0;
	right: 0;
}

.muiAccordionPanel .muiAccordionPanelContent{
	padding: 0px 0px;
	min-height: 3rem;
}

.sysTaskPanel .txtContent {
	line-height: 1.2;
	color: #2f2f2f;
	font-size: 1.4rem;
	padding: 0;
	min-height: 3rem;
}

.muiTaskContentDiv{
	padding: 1.4rem 1rem;
}
.muiTaskContentDiv .muiFieldRtf{padding:0;}

.muiRateProgressList {
	padding: 1rem 0.8rem 2rem;
}

.muiRateProgressList dt {
	text-align: right;
	color: #b3b3b3;
	font-size: 1.3rem;
}

.muiRateProgressList dd {
	margin: 0.8rem 0;
	text-align: center;
	color: #b3b3b3;
	font-size: 1.3rem;
}

.muiRateProgressList dd.time {
	color: #4b4b4b;
	font-size: 1.6rem;
}

.muiRateProgressList dd.view_progress {
	margin: 1rem 0;
}

.muiRateProgressList dd.view_progress .view_prosBar {
	width: 95%;
	height: 1rem;
	border-radius: 10px;
	background-color: #efefef;
	position: relative;
	margin: 0 auto;
}

.muiRateProgressList dd.view_progress .dynBar {
	height: 1rem;
	border-radius: 10px;
	background-color: #3fa9f5;
	position: absolute;
	left: 0;
	top: 0;
}

/********************** 任务相关人员css **********************/
#picView{
	background-color: white;
}

.muiTaskList li {
	border-bottom: 1px dashed #e0e0e0;
	line-height: 1;
	zoom: 1;
	padding: 8px 0px;
	padding-left: 6rem;
	position: relative;
}

.muiTaskList li:last-child {
	border-bottom: 0px;
}
.muiTaskList li:after{ clear:both; visibility:hidden; line-height:0px; content:"clear"; display:block;}
.muiTaskList .personContainer strong {
	position: absolute;
	left: 0px;
	top: 0px;
	display: inline-block;
	color: #898989;
	font-size: 1.4rem;
	padding: 1.5rem 0 0;
	width: 60px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
.muiTaskList strong>div{ text-align:center; color:#f00; font-size:1.2rem; padding-top:0.4rem;}

.staffList{ padding-top:1.3rem; font-size:1.2rem; line-height:1.5;}

/** 反馈、评价 **/

.muiListNoDataIconArea{
	margin-top: 1.5rem;
}

.taskCommonListItem{
	padding: 1.6rem 0.8rem;
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
	position: relative;
}
.muiTaskPanel ul li.taskCommonListItem:last-child{ border-bottom:none;}
.muiTaskPanel.muiAccordionPanelContent{ background:#f3f3f3; font-size:1.6rem;}
.muiTaskPanel .muiListNoData{ padding:1.2rem 0 0; min-height:15rem; height:auto; line-height:1; }
.muiTaskPanel .muiListNoDataArea{ top:0px;}
.muiAccordionPanelContainer:last-child .muiTaskPanel.muiAccordionPanelContent {
	border-bottom:1px solid #e2e2e2;
}
.taskCommonListItem .info {
	padding: 0 0 0 5rem;
	min-height: 46px;
	position: relative;
}
.listAttachmentContent .muiAttachments{ margin-right: 0;}
.taskCommonListItem .info .infoImg {
	border-radius: 50%;
	width: 4.4rem;
	height: 4.4rem;
	position: absolute;
	left: 0;
	top: 0;
}
.muiFeedbackListItem .progress{
	top:0;
	right:0;
	width: 40px;
	height: 40px;
}

.muiFeedbackListItem .progress .mask{
	width: 34px;
	height: 34px;
	line-height: 34px;
}

.muiFeedbackListItem .progress .pie_left,.muiFeedbackListItem .progress .left{
	clip: rect(0,20px,auto,0);
}

.muiFeedbackListItem .progress .pie_right,.muiFeedbackListItem .progress .right{
	clip: rect(0,auto,auto,20px);
}

.muiFeedbackListItem .progress .pie_left,.muiFeedbackListItem .progress .pie_right {
	width: 40px;
	height: 40px;
}

.muiFeedbackListItem .progress .left,.muiFeedbackListItem .progress .right {
	width: 40px;
	height: 40px;
}

.muiEvaluateListItem .infoApprove{
	color: #777676;
	line-height: 2rem;
	padding: 0;
	margin: 0 0.5rem;
	position: absolute;
	top:0;
	right: 0.5rem;
}
.info h4 {
	color: #37aee9;
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 2rem;
	padding: 0 44px 0 0;
}
.toggle{
	height: 28px;
	line-height: 28px;
	color: #888;
	font-size: 1.3rem;
	/*border-bottom: 1px solid #e2e2e2;*/
}
.toggle .mui.mui-down-n,.toggle .mui.mui-up-n{
	font-size: 2rem;
	line-height: 1;
	margin-left: 0.5rem;
	position: relative;
	top:2px;
}

.infoDate{
	color: #777676;
	font-size: 1.2rem;
	text-align: left;
	line-height: 1.3rem;
	padding: 0 0 0 8px;
	margin: 0 44px 0 0;
	position: relative;
}
.infoTask{
	width:85%;
	color: #777676;
	font-size: 1.2rem;
	text-align: left;
	line-height: 1.3rem;
	margin: 0 44px 0 0;
	position: relative;
}
.infoDate.mui-time:before{
	position: absolute;
	left: 0;
	top: 1px;
}
.infoDate span,
.infoApprove span{
	font-size: 1.2rem;
	display: inline-block;
	padding-left: 4px;
	padding-top: 0.1rem;
	word-wrap: break-word;
	word-break: break-all;
}

.content {
	padding:0.4rem 0.2rem 0.2rem 0rem;
	font-size: 1.4rem;
	color: #000;
}
.content:last-child{ border-bottom: 0;}

.muiFeedbackListItem .muiAttachmentItem .muiAttachmentItemL{
	padding-left: 0;
}
.muiTaskNoDataContent{
	height: 200px;
}

/************ 分解图  ******************/
#picView .mblScrollableViewContainer{
	min-width: 300px;
}

#picView .picStatus{
	text-align:center;
	margin: 10px auto;
	white-space: nowrap;
}

#picView .picSelect{
	margin:0 1rem 2rem 0;
	float: right;
}

#picView .picSelect .muiTaskPicSelect.muiFormEleWrap{
	min-width: 5rem;
	min-height: 4rem;
	height: 4rem;
  background-color: #fff;
  font-size: 14px;
  border: 1px solid #ececec;
  padding: 0 5px;
}
#picView .picSelect .muiTaskPicSelect .muiSelInputRight {
	right: 0.5rem;
	line-height: 4rem;
}
#picView .picSelect .muiTaskPicSelect .muiSelInput {
	line-height: 4rem;
}

/**  人员 ***/
.sysTaskPersonIcon{
	vertical-align: middle;
	height: 100%;
	border: none;
	display: table-cell;
	width: 3.2rem;
	text-align: center;
}

.sysTaskPersonIcon img{
	width: 3.2rem;
	height: 3.2rem !important;
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	line-height: 2.5rem;
	vertical-align: middle;
}

.sysTaskPersonInfo{
	vertical-align: middle;
	height: 100%;
	border: none;
	display: table-cell;
}

.sysTaskPersonName{
	padding-left: 0.5rem;
}

.personHeader{
	width: 100%;
	display: inline-table;
	border-bottom: 0.1rem solid #C9D7E0;
	background-color: #18b4ed;
	color: #fff;
	table-layout: fixed;
}

.personHeader > div{
	display: table-cell;
	vertical-align: middle;
	overflow: hidden;
}

.personHeaderTitle{
	width: 50%;
	text-align: center;
	font-size: 1.8rem;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.personHeaderReturn{
	padding-left: 1rem;
	color: #fff;
	/* float: right; */
	cursor: pointer;
}


.muiTaskMore{
	position: absolute;
	left: 3.5rem;
	top: 1rem;
	color: white;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	background-color: red;
	border-radius: 50%;
}

.mblTooltip.muiNavBarGroup.taskNavBarGroup{
	margin-top:1px;
	/*background-color: rgba(0,0,0,0.7);
	border:#000;*/
	width: 12rem;
	background-color: #606060;
	margin-right: 0.6rem;
	border-color: transparent;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #747474;
}
.mblTooltip.muiNavBarGroup.taskNavBarGroup .muiNavBarGroupContainer{ padding: 0;}
.muiNavBarGroup.taskNavBarGroup .mblTabBarButtonLabel{
	color: white;
	font-size: 1.4rem;
	border-bottom: 1px solid #5E5E5E;
}

.muiNavBarGroup.taskNavBarGroup .mblTooltipArrow{
	border-top-width: 0;
	border-top-color: rgba(0,0,0,0.7);
}

.muiNavBarGroup.taskNavBarGroup .mblTooltipInnerArrow{
	border-top:none;
	border-bottom-color: #606060;
	border-width: 7px;
}

#scrollView{
	background-color: #fff;
}
.mblEdgeToEdgeList .muiListNoDataArea{
	margin-top: 4rem;
}

#folwView .muiFlowEfficiency{
	margin-left: 0.8rem
}

.kmSuperviseMain_other{
	text-align:center;
	background-color:#a3a3a3;
}

.kmSuperviseMain_other ul{
	color:#37aee9;
	background-color:#fff;
}

.kmSuperviseMain_other ul li{
	border-top:1px solid #c2c0c0;
	line-height:4.5rem;
	height:4.5rem;
}

.kmSuperviseMain_other .mblTabBarButton{
	float:none;	
}

.otherDialogCancel{
	height:4.5rem;
	line-height:4.5rem;
	border-top:0.1rem solid #a3a3a3;
	margin-top:0.35rem;
	background-color:#fff;
}