<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.geesun.annual.actions.GeesunAnnualMainAction" 
        parent="KmssBaseAction" 
        name="/geesun/annual/geesun_annual_main/geesunAnnualMain.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.annual.forms.GeesunAnnualMainForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/annual/geesun_annual_main/geesunAnnualMain_data.jsp"/>
                <entry 
                    key="result" 
                    value="/geesun/annual/geesun_annual_main/geesunAnnualMain_importResult.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/annual/geesun_annual_main/geesunAnnualMain_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/annual/geesun_annual_main/geesunAnnualMain_view.jsp"/>
                <entry 
                    key="data.4m" 
                    value="/geesun/annual/geesun_annual_main/mobile/data.jsp"/>
                <entry 
                    key="edit.4m" 
                    value="/geesun/annual/geesun_annual_main/mobile/edit.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/annual/geesun_annual_main/mobile/view.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/annual/geesun_annual_main/mobile/view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.geesun.annual.actions.GeesunAnnualMainDataAction" 
        parent="KmssBaseAction" 
        name="/geesun/annual/geesun_annual_main/geesunAnnualMainData.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.annual.forms.GeesunAnnualMainForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="selectAnnual" 
                    value="/geesun/annual/geesun_annual_main/geesunAnnualMain_dialog_selectAnnual.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.geesun.annual.actions.GeesunAnnualUseAction" 
        parent="KmssBaseAction" 
        name="/geesun/annual/geesun_annual_use/geesunAnnualUse.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.annual.forms.GeesunAnnualUseForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/annual/geesun_annual_use/geesunAnnualUse_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/annual/geesun_annual_use/geesunAnnualUse_edit.jsp"/>
                <entry 
                    key="data.4m" 
                    value="/geesun/annual/geesun_annual_use/mobile/data.jsp"/>
                <entry 
                    key="edit.4m" 
                    value="/geesun/annual/geesun_annual_use/mobile/edit.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/annual/geesun_annual_use/mobile/view.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/annual/geesun_annual_use/geesunAnnualUse_view.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/annual/geesun_annual_use/mobile/view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.geesun.annual.actions.GeesunAnnualAlterAction" 
        parent="KmssBaseAction" 
        name="/geesun/annual/geesun_annual_alter/geesunAnnualAlter.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.annual.forms.GeesunAnnualAlterForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/annual/geesun_annual_alter/geesunAnnualAlter_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/annual/geesun_annual_alter/geesunAnnualAlter_edit.jsp"/>
                <entry 
                    key="data.4m" 
                    value="/geesun/annual/geesun_annual_alter/mobile/data.jsp"/>
                <entry 
                    key="edit.4m" 
                    value="/geesun/annual/geesun_annual_alter/mobile/edit.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/annual/geesun_annual_alter/mobile/view.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/annual/geesun_annual_alter/geesunAnnualAlter_view.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/annual/geesun_annual_alter/mobile/view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.geesun.annual.actions.GeesunAnnualResetAction" 
        parent="KmssBaseAction" 
        name="/geesun/annual/geesun_annual_reset/geesunAnnualReset.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.annual.forms.GeesunAnnualResetForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/annual/geesun_annual_reset/geesunAnnualReset_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/annual/geesun_annual_reset/geesunAnnualReset_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/annual/geesun_annual_reset/geesunAnnualReset_view.jsp"/>
            </map>
        </property>
    </bean>
</beans>
