<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        id="geesunAnnualMainDao" 
        class="com.landray.kmss.geesun.annual.dao.hibernate.GeesunAnnualMainDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.annual.model.GeesunAnnualMain</value>
        </property>
    </bean>
    <bean 
        id="geesunAnnualMainTarget" 
        class="com.landray.kmss.geesun.annual.service.spring.GeesunAnnualMainServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunAnnualMainDao"/>
        </property>
    </bean>
    <bean 
        id="geesunAnnualMainService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunAnnualMainTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunAnnualUseDao" 
        class="com.landray.kmss.geesun.annual.dao.hibernate.GeesunAnnualUseDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.annual.model.GeesunAnnualUse</value>
        </property>
    </bean>
    <bean 
        id="geesunAnnualUseTarget" 
        class="com.landray.kmss.geesun.annual.service.spring.GeesunAnnualUseServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunAnnualUseDao"/>
        </property>
    </bean>
    <bean 
        id="geesunAnnualUseService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunAnnualUseTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunAnnualAlterDao" 
        class="com.landray.kmss.geesun.annual.dao.hibernate.GeesunAnnualAlterDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.annual.model.GeesunAnnualAlter</value>
        </property>
    </bean>
    <bean 
        id="geesunAnnualAlterTarget" 
        class="com.landray.kmss.geesun.annual.service.spring.GeesunAnnualAlterServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunAnnualAlterDao"/>
        </property>
    </bean>
    <bean 
        id="geesunAnnualAlterService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunAnnualAlterTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunAnnualResetDao" 
        class="com.landray.kmss.geesun.annual.dao.hibernate.GeesunAnnualResetDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.annual.model.GeesunAnnualReset</value>
        </property>
    </bean>
    <bean 
        id="geesunAnnualResetTarget" 
        class="com.landray.kmss.geesun.annual.service.spring.GeesunAnnualResetServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunAnnualResetDao"/>
        </property>
    </bean>
    <bean 
        id="geesunAnnualResetService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunAnnualResetTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunAnnualMobileService" 
        class="com.landray.kmss.sys.mobile.service.spring.SysMobileModuleRegisterService">
        <property 
            name="modulePath">
            <value>geesun/annual</value>
        </property>
    </bean>
    
    <bean
    	id="geesunAnnualListenerFormService"
    	class="com.landray.kmss.geesun.annual.service.spring.GeesunAnnualListenerFormServiceImp">
    </bean>
    
    <bean
    	id="geesunAnnualGetLeaveInfoService"
    	class="com.landray.kmss.geesun.annual.xform.GeesunAnnualGetLeaveInfo">
    </bean>
    
    <bean
    	id="geesunAnnualResumeService"
    	class="com.landray.kmss.geesun.annual.listener.GeesunAnnualResumeService">
    </bean>
    
</beans>
