<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        class="com.landray.kmss.geesun.base.actions.GeesunBaseBxsjAction" 
        parent="KmssBaseAction" 
        name="/geesun/base/geesun_base_bxsj/geesunBaseBxsj.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.base.forms.GeesunBaseBxsjForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/base/geesun_base_bxsj/geesunBaseBxsj_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/base/geesun_base_bxsj/geesunBaseBxsj_edit.jsp"/>
                <entry 
                    key="data.4m" 
                    value="/geesun/base/geesun_base_bxsj/mobile/data.jsp"/>
                <entry 
                    key="edit.4m" 
                    value="/geesun/base/geesun_base_bxsj/mobile/edit.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/base/geesun_base_bxsj/mobile/view.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/base/geesun_base_bxsj/geesunBaseBxsj_view.jsp"/>
                <entry 
                    key="view.4m" 
                    value="/geesun/base/geesun_base_bxsj/mobile/view.jsp"/>
                <entry 
                    key="listQuery" 
                    value="/geesun/base/geesun_base_bxsj/geesunBaseBxsj_list.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.geesun.base.actions.GeesunBaseAccountAction" 
        parent="KmssBaseAction" 
        name="/geesun/base/geesun_base_account/geesunBaseAccount.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.base.forms.GeesunBaseAccountForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/base/geesun_base_account/geesunBaseAccount_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/base/geesun_base_account/geesunBaseAccount_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/base/geesun_base_account/geesunBaseAccount_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.geesun.base.actions.GeesunBaseAuditAction" 
        parent="KmssBaseAction" 
        name="/geesun/base/geesun_base_audit/geesunBaseAudit.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.base.forms.GeesunBaseAuditForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/base/geesun_base_audit/geesunBaseAudit_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/base/geesun_base_audit/geesunBaseAudit_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/base/geesun_base_audit/geesunBaseAudit_view.jsp"/>
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.geesun.base.actions.GeesunBasePayAction" 
        parent="KmssBaseAction" 
        name="/geesun/base/geesun_base_pay/geesunBasePay.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.base.forms.GeesunBasePayForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/base/geesun_base_pay/geesunBasePay_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/base/geesun_base_pay/geesunBasePay_edit_new.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/base/geesun_base_pay/geesunBasePay_view.jsp"/>
                <entry
					key="listdata"
					value="/geesun/base/geesun_base_pay/geesunBasePay_listdata.jsp" />
            </map>
        </property>
    </bean>
    <bean 
        class="com.landray.kmss.geesun.base.actions.GeesunBaseProjectAction" 
        parent="KmssBaseAction" 
        name="/geesun/base/geesun_base_project/geesunBaseProject.do" 
        lazy-init="true">
        <property 
            name="formType" 
            value="com.landray.kmss.geesun.base.forms.GeesunBaseProjectForm"/>
        <property 
            name="forwards">
            <map>
                <entry 
                    key="data" 
                    value="/geesun/base/geesun_base_project/geesunBaseProject_data.jsp"/>
                <entry 
                    key="edit" 
                    value="/geesun/base/geesun_base_project/geesunBaseProject_edit.jsp"/>
                <entry 
                    key="view" 
                    value="/geesun/base/geesun_base_project/geesunBaseProject_view.jsp"/>
            </map>
        </property>
    </bean>
</beans>
