<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd" 
    xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <bean 
        id="geesunBaseBxsjDao" 
        class="com.landray.kmss.geesun.base.dao.hibernate.GeesunBaseBxsjDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.base.model.GeesunBaseBxsj</value>
        </property>
    </bean>
    <bean 
        id="geesunBaseBxsjTarget" 
        class="com.landray.kmss.geesun.base.service.spring.GeesunBaseBxsjServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunBaseBxsjDao"/>
        </property>
    </bean>
    <bean 
        id="geesunBaseBxsjService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunBaseBxsjTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunBaseAccountDao" 
        class="com.landray.kmss.geesun.base.dao.hibernate.GeesunBaseAccountDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.base.model.GeesunBaseAccount</value>
        </property>
    </bean>
    <bean 
        id="geesunBaseAccountTarget" 
        class="com.landray.kmss.geesun.base.service.spring.GeesunBaseAccountServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunBaseAccountDao"/>
        </property>
    </bean>
    <bean 
        id="geesunBaseAccountService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunBaseAccountTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunBaseAuditDao" 
        class="com.landray.kmss.geesun.base.dao.hibernate.GeesunBaseAuditDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.base.model.GeesunBaseAudit</value>
        </property>
    </bean>
    <bean 
        id="geesunBaseAuditTarget" 
        class="com.landray.kmss.geesun.base.service.spring.GeesunBaseAuditServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunBaseAuditDao"/>
        </property>
    </bean>
    <bean 
        id="geesunBaseAuditService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunBaseAuditTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunBasePayDao" 
        class="com.landray.kmss.geesun.base.dao.hibernate.GeesunBasePayDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.base.model.GeesunBasePay</value>
        </property>
    </bean>
    <bean 
        id="geesunBasePayTarget" 
        class="com.landray.kmss.geesun.base.service.spring.GeesunBasePayServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunBasePayDao"/>
        </property>
    </bean>
    <bean 
        id="geesunBasePayService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunBasePayTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunBaseProjectDao" 
        class="com.landray.kmss.geesun.base.dao.hibernate.GeesunBaseProjectDaoImp" 
        parent="KmssAuthBaseDao">
        <property 
            name="modelName">
            <value>com.landray.kmss.geesun.base.model.GeesunBaseProject</value>
        </property>
    </bean>
    <bean 
        id="geesunBaseProjectTarget" 
        class="com.landray.kmss.geesun.base.service.spring.GeesunBaseProjectServiceImp" 
        parent="KmssExtendDataTarget">
        <property 
            name="baseDao">
            <ref 
                bean="geesunBaseProjectDao"/>
        </property>
    </bean>
    <bean 
        id="geesunBaseProjectService" 
        parent="KmssBaseService">
        <property 
            name="target">
            <ref 
                bean="geesunBaseProjectTarget"/>
        </property>
    </bean>
    <bean 
        id="geesunBaseMobileService" 
        class="com.landray.kmss.sys.mobile.service.spring.SysMobileModuleRegisterService">
        <property 
            name="modulePath">
            <value>geesun/base</value>
        </property>
    </bean>
    
    <bean 
        id="geesunExpenseFinishEvent" 
        class="com.landray.kmss.geesun.base.event.GeesunExpenseFinishEvent">
    </bean>
    <bean 
        id="geesunExpenseAbandonEvent" 
        class="com.landray.kmss.geesun.base.event.GeesunExpenseAbandonEvent">
    </bean>
    <bean 
        id="geesunExpenseEnterNodeEvent" 
        class="com.landray.kmss.geesun.base.event.GeesunExpenseEnterNodeEvent">
    </bean>
    <bean 
        id="geesunExpenseDraftorReturnEvent" 
        class="com.landray.kmss.geesun.base.event.GeesunExpenseDraftorReturnEvent">
    </bean>
    <bean 
        id="geesunExpenseDraftorSubmitEvent" 
        class="com.landray.kmss.geesun.base.event.GeesunExpenseDraftorSubmitEvent">
    </bean>
    
    <bean 
        id="geesunBaseListenerFormService" 
        class="com.landray.kmss.geesun.base.service.spring.GeesunBaseListenerFormServiceImp">
    </bean>
    
    <bean 
        id="geesunFindOrgInfoService" 
        class="com.landray.kmss.geesun.base.service.spring.GeesunFindOrgInfoServiceImp">
       	<property
			name="sysOrgElementService">
			<ref
				bean="sysOrgElementService" />
		</property>
		<property
			name="sysOrgPersonService">
			<ref
				bean="sysOrgPersonService" />
		</property>
    </bean>
    
    <bean 
        id="geesunBaseBudgetAdjustMainService" 
        class="com.landray.kmss.geesun.base.service.spring.GeesunBaseBudgetAdjustMainServiceImp">
    </bean>
    
    <bean 
        id="geesunBaseBudgetListenerFormService" 
        class="com.landray.kmss.geesun.base.service.spring.GeesunBaseBudgetListenerFormServiceImp">
    </bean>
    
    <bean 
        id="geesunBudgetAdjustFinishEvent" 
        class="com.landray.kmss.geesun.base.adjust.GeesunBudgetAdjustFinishEvent">
        <property 
            name="geesunBaseBudgetAdjustMainService">
            <ref 
                bean="geesunBaseBudgetAdjustMainService"/>
        </property>
    </bean>
    <bean 
        id="geesunBudgetAdjustAbandonedEvent" 
        class="com.landray.kmss.geesun.base.adjust.GeesunBudgetAdjustAbandonedEvent">
        <property 
            name="geesunBaseBudgetAdjustMainService">
            <ref 
                bean="geesunBaseBudgetAdjustMainService"/>
        </property>
    </bean>
    <bean 
        id="geesunBudgetAdjustDrafterReturnEvent" 
        class="com.landray.kmss.geesun.base.adjust.GeesunBudgetAdjustDrafterReturnEvent">
        <property 
            name="geesunBaseBudgetAdjustMainService">
            <ref 
                bean="geesunBaseBudgetAdjustMainService"/>
        </property>
    </bean>
    <bean 
        id="geesunBudgetAdjustEnterNodeEvent" 
        class="com.landray.kmss.geesun.base.adjust.GeesunBudgetAdjustEnterNodeEvent">
        <property 
            name="geesunBaseBudgetAdjustMainService">
            <ref 
                bean="geesunBaseBudgetAdjustMainService"/>
        </property>
    </bean>
    <bean 
        id="geesunBudgetAdjustDraftorSubmitEvent" 
        class="com.landray.kmss.geesun.base.adjust.GeesunBudgetAdjustDraftorSubmitEvent">
        <property 
            name="geesunBaseBudgetAdjustMainService">
            <ref 
                bean="geesunBaseBudgetAdjustMainService"/>
        </property>
    </bean>
    <bean
		id="lbpmAuditApproveService"
		class="com.landray.kmss.geesun.base.service.spring.LbpmAuditApproveServiceImp">
		<property name="accessManager" ref="accessManager" />	
		<property name="backgroundAuthService" ref="backgroundAuthService" />	
		<property name="lbpmProcessService" ref="lbpmProcessService" />		
		<property name="sysOrgElementService" ref="sysOrgElementService" />	
		<property name="sysOrgCoreService" ref="sysOrgCoreService" />
	</bean>
	
</beans>
