@charset "UTF-8";
/* 后台管理页面相关样式 porfile.css Starts ++++++++++++++++++++++++++++++++++++++++ */
/* 头部 Starts */
.lui_profile_header_frame {
  background-color: #B21A1A;
}

.lui_profile_header_navTop_item:hover,
.lui_profile_header_navTop_item.current,
.lui_profile_header_navTop_item.more.current,
.lui_profile_header_navTop_item.more:hover,
.lui_profile_header_navTop_item.lui_profile_navTop_over {
  background-color: #9e0008;
  -ms-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.lui_profile_header_navTop_popup .lui_profile_header_navTop_item {
  background-color: #B21A1A;
}

.lui_profile_header_navTop_popup .lui_profile_header_navTop_item:hover {
  background-color: #9e0008;
}

.lui_portal_header_location:after {
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.35);
}

.lui_profile_userinfo {
  background-color: #B21A1A;
}

.lui_profile_userinfo.lui_profile_userinfo_over {
  background-color: #9e0008;
}

.lui_profile_userinfo_header {
  background-color: #B21A1A;
}

.location_input {
  border: 1px solid #d9d9d9;
}

.location_input.status_select {
  border-color: #B21A1A;
}

.location_input .location_arrow:before {
  border-bottom-color: #d9d9d9;
}

.location_input .location_arrow:after {
  border-bottom-color: #fff;
}

.location_input.status_select .location_arrow:before {
  border-bottom-color: #B21A1A;
}

/* 头部 Ends */
/* 左侧栏 Starts */
.lui_profile_navLeft_container {
  background-color: #821d26;
}

.lui_profile_navLeft_mask {
  background-color: rgba(0, 0, 0, 0.6);
}

.lui_profile_navLeft_item {
  margin-top: 2px;
  margin-bottom: 2px;
}

.lui_profile_link {
  border-left: 0;
}

.lui_profile_navLeft_item .lui_profile_link:hover,
.lui_profile_navLeft_item.current .lui_profile_link,
.lui_profile_navLeft_item.current .lui_profile_link:hover {
  color: #fff;
  background-color: #B21A1A;
}

.lui_profile_navLeft_item.current .lui_profile_link,
.lui_profile_navLeft_item.current .lui_profile_link:hover {
  -ms-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -o-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* 左侧栏 Ends */
/* 后台管理页面相关样式 porfile.css Ends ++++++++++++++++++++++++++++++++++++++++ */
