<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://www.example.org/plugin-config"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.example.org/plugin-config ../../../../../plugin.xsd ">
    <!-- 分类/模板 -->
	<extension
		point="com.landray.kmss.sys.handover">
		<item
			name="config">
			<param
				name="module"
				value="com.landray.kmss.km.oitems.model.KmOitemsManage" />
			<param 
				name="messageKey" 
				value="km-oitems:table.kmOitemsManageHandover"/>
			<param 
				name="provider" 
				value="com.landray.kmss.km.oitems.handover.KmOitemsCateTempProvider"/>
			<param 
				name="order" 
				value="3"/>
		</item>
	</extension>
	
	<!-- 申请文档权限 -->
	<extension
		point="com.landray.kmss.sys.handover.doc.auth">
		<item
			name="config">
			<param
				name="module"
				value="com.landray.kmss.km.oitems.model.KmOitemsBudgerApplication" /> <!-- 要交接的文档类Model -->
			<param 
				name="messageKey" 
				value="km-oitems:module.km.oitems.application"/> <!-- 交接页面显示的模块名称 -->
			<param 
				name="provider" 
				value="com.landray.kmss.km.oitems.handover.KmOitemsBudgerApplicationAuthProvider"/> <!-- 具体的交接字段定义 -->
			<param 
				name="order" 
				value="3"/> <!-- 交接模块排序 -->
		</item>
	</extension>
	
	<!-- 库存管理文档权限 -->
	<extension
		point="com.landray.kmss.sys.handover.doc.auth">
		<item
			name="config">
			<param
				name="module"
				value="com.landray.kmss.km.oitems.model.KmOitemsListing" /> <!-- 要交接的文档类Model -->
			<param 
				name="messageKey" 
				value="km-oitems:module.km.oitems.listing"/> <!-- 交接页面显示的模块名称 -->
			<param 
				name="provider" 
				value="com.landray.kmss.km.oitems.handover.KmOitemsListingAuthProvider"/> <!-- 具体的交接字段定义 -->
			<param 
				name="order" 
				value="3"/> <!-- 交接模块排序 -->
		</item>
	</extension>
</plugin>